:root {
    --primary-text-color: #757575;
    --titile-text-color: #212121;
    --white-text-color: #FFFFFF;
    --accent-text-color: #2196F3;
    --primary-bg-color: #ffffff;
    --button-bg-color: #F5F4FA;
    --focus-button-bg-color: #2196F3;


}

.page1,
.page2 {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color); 
}

.link,
.list {
    list-style: none;
}

/* site nav */
.logo {
    color: var(--accent-text-color);
    ;
}

.site-nav-link.current {
    color: var(--accent-text-color);
}

.site-nav-link:hover,
.site-nav-link:focus,
.auth-nav-link:hover,
.auth-nav-link:focus {
    color: var(--accent-text-color);
}

/* hero */
.hero-title {
    color: var(--white-text-color);
}

/* section */
.section-title {
    color: var(--titile-text-color);
}

/* features */
.features .features-title {
    color: var(--titile-text-color);
}

/* footer */
.footer-logo-last,
.footer-logo-address {
    color: var(--white-text-color);
}
.footer-logo-first {
    color: var(--accent-text-color);
}

.address-phone-mail {
    color: rgba(255, 255, 255, 0.6);
}

.button {
    color: var(--white-text-color);
    background-color: var(--focus-button-bg-color);
}

.button.photo-nav {
    color: var(--titile-text-color);
    background-color: var(--button-bg-color);  
}

.button.photo-nav:hover,
.button.photo-nav:focus {
    color: var(--white-text-color);
    background-color: var(--focus-button-bg-color);
}

.button.photo-nav.primary {
    color: var(--white-text-color);
    background-color: var(--focus-button-bg-color);
}

/* background: #FFFFFF; */
/* вторичный для "наша команда" background: #F5F4FA; */
/* вторичный background: #2F303A; */
